<%= error_messages_for 'direction' %>


<!--[form:direction]-->
<div class="box tabular">
  <p><%= f.text_field :initial, :required => true %></p>
  <p><%= f.text_field :name, :required => true, :size => 100 %></p>
</div>
<div style="clear:left;"></div>
<!--[eoform:direction]-->
<%= javascript_tag do %>

<% end %>
